@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

header nav {
    max-width: 1158.61px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-brand {
    display: flex;
    align-items: center;
    gap: 16px;
}

header nav .nav-brand h3 {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}

header nav .nav-links ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

header nav .nav-links ul li {
    list-style: none;
}

header nav .nav-links ul li a {
    text-decoration: none;
}

header nav .nav-links .home-link {
    color: rgb(254, 163, 1);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 30px;
}

header nav .nav-links .about-link {
    color: rgb(1, 172, 253);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}

header nav .nav-links .facilities-link {
    color: rgb(5, 212, 223);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}

header nav .nav-links .admission-link {
    color: rgb(93, 88, 239);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}

header nav .nav-btn button {
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);
    width: 197px;
    height: 50px;
    /* padding: 10px 60px; */
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
}

header nav .nav-menu {
    display: none;
}

header nav .nav-menu img {
    display: block;
    width: 22.5px;
    height: 15px;
    padding: 7.5px 3.75px;
}

hr {
    display: none;
}

.hero {
    max-width: 1158.61px;
    height: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero .hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
}

.hero .hero-content .color-orange {
    color: rgb(254, 163, 1);
}

.hero .hero-content .color-blue {
    color: rgb(1, 172, 253);
}

.hero .hero-content p {
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero .hero-content button {
    border-radius: 12px;
    border: none;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    padding: 10px;
    width: 197px;
    height: 50px;
    text-align: center;
}

main .curriculum {
    max-width: 1158.61px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-position: center;
}

main .curriculum .curriculum-content {
    padding-top: 60px;
}

main .curriculum .curriculum-content h2 {
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    text-align: center;
    margin-bottom: 80px;
}

main .curriculum .curriculum-content .card-container {
    display: flex;
    justify-content: space-between;
    gap: 28x;
}

main .curriculum .curriculum-content .card-container .card {
    max-width: 367.8px;
    text-align: center;
}

main .curriculum .curriculum-content .card-container .card-1 {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

main .curriculum .curriculum-content .card-container .card-1 a {
    text-decoration: none;
    color: rgb(100, 200, 255);
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
}

main .curriculum .curriculum-content .card-container .card-2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

main .curriculum .curriculum-content .card-container .card-2 a {
    text-decoration: none;
    color: rgb(240, 170, 0);
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
}

main .curriculum .curriculum-content .card-container .card-3 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

main .curriculum .curriculum-content .card-container .card-3 a {
    text-decoration: none;
    color: rgb(135, 0, 255);
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
}

main .curriculum .curriculum-content .card-container .card img {
    margin-top: 52px;
}

main .curriculum .curriculum-content .card-container .card h3 {
    color: rgb(32, 32, 32);
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
    margin-top: 32px;
}

main .curriculum .curriculum-content .card-container .card p {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    margin-top: 33px;
    margin-right: 35px;
    margin-left: 35px;
}

main .curriculum .curriculum-content .card-container .card .card-link {
    margin-top: 38px;
    margin-bottom: 58px;
}

main .curriculum .curriculum-content .curriculum-btn {
    margin-top: 80px;
    /* margin-bottom: 60px; */
    padding-bottom: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .curriculum .curriculum-content .curriculum-btn button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
}

main .story {
    position: relative;
    max-width: 1440px;
    height: 1020px;
    margin: 0 auto;
    background: url(../assets/bg.png);
    background-size: contain;
    z-index: 1;
}

main .story::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    z-index: -1;
}


main .story .story-container {
    max-width: 1160px;
    margin: 0 auto;
}

main .story .story-container .story-content>h3 {
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

main .story .story-container .card-container {
    display: grid;
    grid-template-areas:
        "card1 card2 card3"
        "card1 card4 card5";
    gap: 20px;
}

main .story .story-container .card-container .card {
    position: relative;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

main .story .story-container .card-container .card img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

main .story .story-container .card-container .card button {
    position: absolute;
    border-radius: 47.93px;
    border: none;
    background: rgb(149, 178, 38);
    /* padding: 10px 20px; */
    width: 174.51px;
    height: 38.35px;
    left: 34px;
    top: 157px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    /* margin-top: -200px; */
    z-index: 1;
    /* margin-right: 35px;
    margin-left: 35px; */
    text-align: center;
}

main .story .story-container .card-container .card-1 {
    grid-area: card1;
}

main .story .story-container .card-container .card-2 {
    grid-area: card2;
}

main .story .story-container .card-container .card-3 {
    grid-area: card3;
}

main .story .story-container .card-container .card-4 {
    grid-area: card4;
}

main .story .story-container .card-container .card-5 {
    grid-area: card5;
}

main .story .story-container .card-container .card h3 {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    text-align: left;
    margin-top: 38px;
    margin-bottom: 28px;
    margin-right: 35px;
    margin-left: 35px;
}

main .story .story-container .card-container .card-3 button {
    background: rgb(93, 88, 240);
}

main .story .story-container .story-btn {
    /* margin-top: 80px;
    margin-bottom: 60px; */
    display: block;
    width: 197px;
    height: 50px;
    /* margin: 80px auto 60px auto; */
    margin: 80px auto 0 auto;
    border-radius: 12px;
    border: none;
    padding: 10px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

main .story .story-container .card-container .card-1 button {
    background: rgb(60, 216, 232);
    left: 34px;
    top: 317px;
}

main .story .story-container .card-container .card-1 h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 38.35px;
    margin-top: 60px;
}

main .story .story-container .card-container .card-1 p {
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    margin: 48px 68px 34px 38px;
}

footer {
    background: rgb(1, 172, 253);
    max-width: 100vw;
    height: 519px;
    /* margin: auto; */
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1160px;
    height: 222px;
    margin: 0 auto;
    /* gap: 130px; */
    padding-top: 123px;
    /* padding-left: 140px;
    padding-right: 230px; */
    padding-bottom: 174px;
    /* margin: 123px 228px 174px 140px; */
    /* padding: 125px 140px; */
}

footer .footer-container .footer-brand .brand-title {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-left: -5px;
}

footer .footer-container .footer-brand .brand-title img {
    width: 82.9px;
    height: 81.65px;
}

footer .footer-container .footer-brand .brand-title h3 {
    color: rgb(255, 255, 255);
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 39.51px;
}

footer .footer-container .footer-brand p {
    max-width: 399.02px;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    margin-top: 35px;
}

footer .footer-container .footer-links h3 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
}

footer .footer-container .footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

footer .footer-container .footer-links ul li {
    list-style: none;
}

footer .footer-container .footer-links ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 25px;
}

footer .footer-container .footer-social {
    /* margin-right: 88px; */
    /* margin-left: 30px; */
}

footer .footer-container .footer-social h3 {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 32px;
}

footer .footer-container .footer-social .social-img {
    display: flex;
    gap: 10px;
}


/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    header nav {
        max-width: 358px;
        padding: 0;
        /* margin: 12px 16px; */
        margin: 12px auto;
    }

    header nav .nav-brand img {
        padding: 0 3.75px;
    }

    header nav .nav-brand h3 {
        display: none;
    }

    header nav ul li {
        display: none;
    }

    header nav button {
        display: none;
    }

    header nav .nav-menu {
        display: block;
    }

    hr {
        display: block;
        border: 0.5px solid rgb(254, 163, 1);
        margin-top: 12px;
        margin-bottom: 28px;
        transform: scaleY(0.5);
    }

    .hero {
        flex-direction: column-reverse;
        max-width: 357px;
        height: 725px;
        gap: 20px;
    }

    .hero img {
        width: 336.58px;
        height: 413px;
    }

    .hero .hero-content {
        text-align: center;
    }

    .hero .hero-content h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
    }

    .hero .hero-content p {
        color: rgb(17, 17, 17);
        font-size: 0.88rem;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .hero .hero-content button {
        border-radius: 8px;
        background: rgb(17, 17, 17);
        width: 131px;
        height: 42px;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        padding: 6px 24px;
    }

    main .curriculum {
        max-width: 390px;
        height: 100%;
        margin: 0 auto;
        background-image: url(../assets/bg.png);
        background-size: contain;
        background-position: left;
    }

    main .curriculum .curriculum-content h2 {
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
        margin-bottom: 20px;
    }

    main .curriculum .curriculum-content .card-container {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    main .curriculum .curriculum-content .card-container .card {
        max-width: 357px;
        /* max-width: 95%; */
        height: 321px;
        text-align: center;
        padding: 36px 28px;
    }

    main .curriculum .curriculum-content .card-container .card-1 a {
        text-decoration: none;
        color: rgb(100, 200, 255);
        font-size: 10.22px;
        font-weight: 700;
        line-height: 19.16px;
    }

    main .curriculum .curriculum-content .card-container .card-2 a {
        text-decoration: none;
        color: rgb(240, 170, 0);
        font-size: 10.22px;
        font-weight: 700;
        line-height: 19.16px;
    }

    main .curriculum .curriculum-content .card-container .card-3 a {
        text-decoration: none;
        color: rgb(135, 0, 255);
        font-size: 10.22px;
        font-weight: 700;
        line-height: 19.16px;
    }

    main .curriculum .curriculum-content .card-container .card img {
        width: 92px;
        height: 92px;
        margin-top: 0;
    }

    main .curriculum .curriculum-content .card-container .card h3 {
        font-size: 16.6px;
        font-weight: 700;
        line-height: 20.75px;
        margin-top: 22px;
    }

    main .curriculum .curriculum-content .card-container .card p {
        font-size: 10.22px;
        font-weight: 500;
        line-height: 19.16px;
        margin-top: 22px;
    }

    main .curriculum .curriculum-content .card-container .card .card-link {
        margin-top: 22px;
        margin-bottom: 36px;
    }

    main .curriculum .curriculum-content .curriculum-btn {
        display: none;
    }

    footer {
        max-width: 100vw;
        height: 665px;
    }

    footer .footer-container {
        flex-direction: column;
        gap: 15px;
        padding-top: 65px;
        margin-left: 20px;
        margin-right: 20px;
    }

    footer .footer-container .footer-brand .brand-title {
        gap: 10px;
    }

    footer .footer-container .footer-brand .brand-title h3 {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 33.5px;
    }

    footer .footer-container .footer-brand p {
        max-width: 357px;
        margin-top: 22px;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 400;
        line-height: 20px;
    }

    footer .footer-container .footer-links h3 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 25px;
    }

    footer .footer-container .footer-links ul {
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin-top: 27px;
    }

    footer .footer-container .footer-links ul li a {
        font-size: 1rem;
        font-weight: 500;
        line-height: 21px;
    }

    footer .footer-container .footer-social {
        margin-top: 32px;
    }

    footer .footer-container .footer-social h3 {
        font-size: 1.35rem;
        font-weight: 700;
        line-height: 22.04px;
        margin-bottom: 37px;
    }

    footer .footer-container .footer-social .social-img {
        gap: 8px;
    }

    footer .footer-container .footer-social .social-img img {
        width: 34px;
        height: 34px;
    }
}